[submodule "third_partys/qt-material-widgets"]
	path = third_partys/qt-material-widgets
	url = https://github.com/Decodetalkers/qt-material-widgets.git
[submodule "third_partys/cryptopp-cmake"]
	path = third_partys/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake.git
[submodule "third_partys/boost"]
	path = third_partys/boost
	url = https://github.com/boostorg/boost.git
[submodule "third_partys/spdlog"]
	path = third_partys/spdlog
	url = https://github.com/gabime/spdlog.git
